

.main-container{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:transparent;
  overflow: hidden;
}
.main-container .main{   
  display: flex;
  justify-content: space-between;
  margin: 100px auto; 
  height: 100%;
  width: 66%;
  border: #dddddd solid 1px;
  border-radius: 6px;
  padding: 50px;
  background-color: white;
  transform: scale(1.02);
  box-shadow: rgba(69, 69, 69, 0.502) 0px 3px 8px;
}
.main-container .main .left{
  border-right: #585858 solid 1px ;
}
.main-container .main .left  h1{
  font-size: 32px;
  font-weight: 600;
}

.main-container .main .right{
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
}

.main-container .main .right .imges img{
  width: 306px;
  height: 301px;
}
.main-container .main .right .amount-box{
  display: flex;
  flex-direction: column;
}
.main-container .main .right .amount-box .amount{
  display: flex;
  align-items: center;
  width: 250px;
  margin: 10px;
  padding: 23px;
  border: 1px solid #00A2D3;
  border-radius: 5px;
  cursor: pointer;
}
.main-container .main .right .amount-box .amount h2{
  color: #00A2D3;
  font-size: larger;
  font-weight: bold;
  line-height: normal;
}
  

.main-container .main .right  .checkout{
  border: 2px solid #1159A8;
  color: #1159A8;
  height: 47px;
  width: 167px;
  border-radius: 5px;
  margin-top: 30px;
  padding: 11px;
  font-size: 1.1vw;
  font-weight: 700;
  margin-left: 100px;
  text-align: center;
  
}

.main-container .main .right  .checkout:hover{
  background-color: #1159A8;
  color: white;
}

.main-container .main .left .list-head{
  line-height: 3.5;
  margin-top: 15px;
}
.main-container .main .left .list-head h2{
   font-size: 20px ;
   font-weight: 700;
}

.main-container .main .left .list-head .list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container .main .left .list-head .list .item {
  border-bottom: #585858 solid 1px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  font-weight: 100;
  width: 300px;
  margin-top: 4px;  
}

.main-container .main .cross{
  cursor: pointer;
   font-size: 30px;
}
